.filling {
	&__container {
		position: relative;

		display: flex;
		justify-content: space-between;
		@include option(gap, 0, 0, 40px);
		@include container($DESKTOP, 0);
		@include option(padding, 106px 85px 0, 67px 40px 0, 77px 40px 0);
	}

	&__inner {
		position: relative;

		@include option(display, flex, block, flex);
		@include option(min-width, auto, 295px, 314px);
		@include option(height, auto, 429px, auto);
		@include option(margin, 0, 0, 0 0 0 -2px);
		@include option(padding, 0, 0, 28px 0 0);
	
		@media (max-width: $TABLET - 1) {
			position: absolute;
			top: 30.9%;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	&__button {
		position: absolute;
		@include option(top, 50%, 49.5%, 43.2%);
		@include option(left, 50%, 40%, 48%);
		transform: translate(-37.2%, -50%);

		@include option(max-width, 271px, 226px);
		width: 100%;
		@include option(padding, 15px 0);

		@include option(font-size, 16px);
		@include option(font-weight, 700);
		color: $white;

		background-color: $violet;
		border: none;
		border-radius: 8px;

		cursor: pointer;

		transition: 0.3s ease-in-out;

		&:hover,
		&:focus {
			scale: 1.01;
		}

		&:active {
			opacity: 0.8;
		}
	}

	&__image {
		@include option(max-width, 480px, 295px, 314px);
		width: 100%;
		@include option(max-height, 597px, 429px);

		img {
			object-fit: contain;
		}
	}

	&__wrapper {
		@include option(max-width, 590px, auto, auto);
		@include option(padding, 1px 0 0 46px, 0);
	}

	&__title {
		@include option(font-size, 40px, 22px);
		@include option(font-weight, 700);
		text-transform: uppercase;
		color: $black;
	}

	&__desc {
		@include option(padding, 17px 0 16px, 17px 0 15px);

		@include option(font-size, 22px, 16px);
		@include option(font-weight, 500);
		@include option(line-height, 145%, 150%);
		@include option(color, $grey500, $grey600);
	}

	&__br-tablet {
		display: none;

		@media (min-width: $TABLET) and (max-width: $MIN-DESKTOP - 1) {
			display: block;
		}
	}

	&__desc_v {
		@media (max-width: $TABLET - 1) {
			display: none;
		}
	}

	&__desc_vm {
		@media (min-width: $TABLET) {
			display: none;
		}
	}

	&__info {
		display: flex;
		align-items: center;
		@include option(padding, 11px, 12px 11px 10px);
		@include option(margin, 0 54px 33px 0, 0 32px 495px 0, 0 78px 17px 0);

		@include option(font-size, 16px, 14px);
		@include option(font-weight, 400);
		@include option(line-height, 150%, 157%);
		color: $grey500;

		border: 1px solid $grey300;
		border-radius: 8px;
	}

	&__tooltip {
		position: relative;

		@include option(width, 20px, 38px);
		height: 20px;
		@include option(margin, 0 0 0 6px, -2px 0 0);
		@include option(padding, 0, 0 0 0 2px);

		background-image: url("./../../public/images/icons/question.svg");
		background-size: 20px 20px;
		background-repeat: no-repeat;
		background-color: transparent;
		border: none;

		cursor: pointer;

		transition: 0.2s ease-in-out;

		&_active {
			background-image: url("./../../public/images/icons/close.svg");
		}

		&:hover,
		&:focus {
			
		}
	}

	&__tooltip-text {
		position: absolute;
		@include option(bottom, 160%);
		@include option(right, -10%, 0);
		transform: translateX(30px);

		display: none;
		@include option(width, 400px, 248px);
		@include option(padding, 12px);

		@include option(font-size, 16px, 14px);
		@include option(font-weight, 400);
		@include option(line-height, 150%, 157%);
		text-align: start;
		color: $black;

		background-color: $white;
		border-radius: 16px;
		box-shadow: 0 4px 56px 0 rgba(0, 0, 0, 0.24);

		p {
			@include option(padding, 10px 0 0,);
		}

		&::before {
			content: "";
			display: block;
			@include option(width, 11px);
			@include option(height, 10px);

			background-image: url("./../../public/images/icons/corner.svg");
			background-size: 11px 10px;
			background-position: center;
			background-repeat: no-repeat;

			position: absolute;
			bottom: -9px;
			right: 37px;
		}

		&_active {
			display: block;
		}
	}

	&__box {
		@include option(padding, 0 0 24px, 0 0 16px);
	}

	&__subtitle {
		@include option(font-size, 22px, 16px);
		@include option(font-weight, 600);
		@include option(line-height, 109%, 150%);
	}

	&__text {
		@include option(padding, 8px 0 0);

		@include option(font-size, 16px, 14px);
		@include option(font-weight, 400);
		@include option(line-height, 150%, 157%);
	}

	&__footnote {
		@include option(font-size, 16px, 14px);
		@include option(font-weight, 400);
		@include option(line-height, 150%, 157%);
	}

	&__br-v {
		@media (max-width: $MIN-DESKTOP) {
			display: none;
		}
	}
}