.filling {
	&__container {
		position: relative;

		display: flex;
		justify-content: space-between;
		@include option(gap, 0, 0, 40px);
		@include container($DESKTOP, 0);
		@include option(padding, 106px 85px 0, 67px 40px 0, 77px 40px 0);
	}

	&__inner {
		position: relative;

		@include option(display, flex, block, flex);
		@include option(min-width, auto, 295px, 314px);
		@include option(height, auto, 429px, auto);
		@include option(margin, 0, 0, 0 0 0 -2px);
		@include option(padding, 0, 0, 28px 0 0);
	
		@media (max-width: $TABLET - 1) {
			position: absolute;
			top: 30.7%;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	&__button {
		position: absolute;
		@include option(top, 50%, 50%, 43.2%);
		@include option(left, 50%, 40%, 48%);
		transform: translate(-37.2%, -50%);

		@include option(max-width, 271px, 226px);
		width: 100%;
		@include option(padding, 15px 0);

		@include option(font-size, 16px);
		@include option(font-weight, 700);
		color: $white;

		background-color: $violet;
		border: none;
		border-radius: 8px;

		cursor: pointer;
	}

	&__image {
		@include option(max-width, 480px, 295px, 314px);
		width: 100%;
		@include option(max-height, 597px, 429px);

		img {
			object-fit: contain;
		}
	}

	&__wrapper {
		@include option(max-width, 590px, auto, auto);
		@include option(padding, 1px 0 0 46px, 0);
	}

	&__title {
		@include option(font-size, 40px, 22px);
		@include option(font-weight, 700);
		text-transform: uppercase;
		color: $black;
	}

	&__desc {
		@include option(padding, 17px 0 16px, 17px 0 15px);

		@include option(font-size, 22px, 16px);
		@include option(font-weight, 500);
		@include option(line-height, 145%, 150%);
		@include option(color, $grey500, $grey600);
	}

	&__br-tablet {
		display: none;

		@media (min-width: $TABLET) and (max-width: $MIN-DESKTOP - 1) {
			display: block;
		}
	}

	&__desc_v {
		@media (max-width: $TABLET - 1) {
			display: none;
		}
	}

	&__desc_vm {
		@media (min-width: $TABLET) {
			display: none;
		}
	}

	&__info {
		display: flex;
		align-items: center;
		@include option(padding, 11px, 12px 11px 10px);
		@include option(margin, 0 54px 33px 0, 0 32px 495px 0, 0 78px 17px 0);

		@include option(font-size, 16px, 14px);
		@include option(font-weight, 400);
		@include option(line-height, 150%, 157%);
		color: $grey500;

		border: 1px solid $grey300;
		border-radius: 8px;
	}

	&__button-icon {
		@include option(margin, 0 0 0 6px);

		@include option(width, 20px, 38px);
		height: 20px;
		padding: 0;

		background-color: transparent;
		border: none;

		cursor: pointer;
	}

	&__icon {
		width: 20px;
		height: 20px;
	}

	&__box {
		@include option(padding, 0 0 24px, 0 0 16px);
	}

	&__subtitle {
		@include option(font-size, 22px, 16px);
		@include option(font-weight, 600);
		@include option(line-height, 109%, 150%);
	}

	&__text {
		@include option(padding, 8px 0 0);

		@include option(font-size, 16px, 14px);
		@include option(font-weight, 400);
		@include option(line-height, 150%, 157%);
	}

	&__footnote {
		@include option(font-size, 16px, 14px);
		@include option(font-weight, 400);
		@include option(line-height, 150%, 157%);
	}

	&__br-v {
		@media (max-width: $MIN-DESKTOP) {
			display: none;
		}
	}
}