/* FONTS */
$Montserrat: "Montserrat", "Arial", sans-serif;

/* COLORS */

$white: #ffffff;
$snow-white: #fbfbfb;
$grey100: #eeeeee;
$grey200: #fbfbfb;
$grey300: #c8c8c8;
$grey500: #909090;
$grey600: #747474;
$grey800: #3d3d3d;
$black: #212121;
$violet: #804db4;
$light-violet: #e8ceff;
$blue: #1d7dff;
$faded-blue: #6197ff;
