.map {
  @include option(margin, 111px 0 0);

  background-color: $grey200;

  &__container {
    @include container($DESKTOP, 0 80px);
  }

  &__title {
    @include option(padding, 125px 5px 0);

    @include option(font-size, 40px);
    @include option(font-weight, 700);
    text-transform: uppercase;
  }

  &__desc {
    @include option(max-width, 790px);
    width: 100%;
    @include option(padding, 17px 5px 0);

    @include option(font-size, 22px);
    @include option(font-weight, 500);
    @include option(line-height, 145%);
    color: $grey500;
  }

  &__image {
    position: relative;

    @include option(padding, 58px 0 54px 4px);
  }

	&__image-world {
      width: 1122px;
      height: 554px;
	}

  &__button {
    @include option(width, 24px);
    @include option(height, 24px);
    padding: 0;

    background-color: transparent;
    border: none;

    cursor: pointer;
  }

  &__icon {
    position: absolute;

    @include option(width, 24px);
    @include option(height, 24px);

    &_usa {
      top: 40.8%;
      left: 17.8%;
    }

    &_india {
      top: 49.3%;
      left: 67.8%;
    }

    &_europe {
      top: 36.4%;
      left: 47.5%;
    }

    &_russia {
      top: 25.5%;
      left: 72.69%;
    }

    &_taiwan {
      top: 49.4%;
      left: 79.1%;
    }
  }
}