.cases {
  @include option(margin, 58px 0 0, 20px 0 0);

  &__container {
    @include container($DESKTOP, 0);
    display: flex;
    @include option(flex-direction, row, column);
    justify-content: space-between;
    @include option(padding, 0 85px 0 67px, 0 40px);
  }

  &__inner {
    display: flex;
    @include option(flex-direction, row, column);
    align-items: center;
  }

  &__image {
    @include option(max-width, 498px, 208px);
    width: 100%;
    @include option(max-height, 411px, 167px);
    @include option(margin, 0, 0 35px 0 0);
    @include option(padding, 9px 0 0, 11px 0 0);

    img {
      object-fit: contain;
    }
  }

  &__wrapper {
    @include option(max-width, 544px);
  }

  &__title {
    @include option(padding, 67px 0 0, 35px 0 0);

    @include option(font-size, 40px, 22px);
    @include option(font-weight, 700);
    text-transform: uppercase;
    color: $black;
  }

  &__desc {
    position: relative;

    @include option(padding, 17px 0 0);

    @include option(font-size, 16px);
    @include option(font-weight, 400);
    @include option(line-height, 150%);
    color: $black;

    &_1 {
      @include option(padding, 0 0 16px);
    }

    &_2 {

    }
  }

  &__button {
    position: absolute;
    @include option(top, 88px, 162px);
    @include option(left, 133px, 132px);

    width: 20px;
    height: 20px;
    padding: 0;

    background-color: transparent;
    border: none;

    cursor: pointer;
  }

  &__icon {
    width: 20px;
    height: 20px;
  }
}