.pay {
	@include option(margin, 80px 0 0, 32px 0 0);
	background: linear-gradient(180deg, #f8f8f8 0%, rgba(248, 248, 248, 0) 100%);

	&__container {
		@include container($DESKTOP, 0);
		@include option(padding, 0 53px 0 85px, 0 40px);
	}

	&__title {
		@include option(padding, 125px 300px 0 0, 40px 0 0);

		@include option(font-size, 40px, 22px);
    	@include option(font-weight, 700);
    	text-transform: uppercase;
    	color: $black;
	}

	&__br {
		@media (min-width: $TABLET) {
			display: none;
		}
	}

	&__wrapper {
		display: grid;
		@include option(grid-template-columns, 1fr 1fr, 1fr);
	}

	&__list {
		display: flex;
		@include option(gap, 104px, 76px);
		@include option(padding, 34px 0 0, 24px 0 0);
	}

	&__item {
		position: relative;

		&:not(:last-child)::before {
			content: "";
			@include option(width, 104px, 76px);
			height: 1px;

			background-color: rgba(128, 77, 180, 0.16);

			position: absolute;
			top: 50%;
			left: 100%;
			transform: translateY(-50%);
		}
	}

	&__button {
		display: block;
		width: 48px;
		padding: 13px;

		@include option(font-size, 16px);
    	@include option(font-weight, 700);
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		color: $violet;

		border: 1px solid rgba(128, 77, 180, 0.16);
		border-radius: 50%;

		&_active {
			color: $white;

			background-color: $violet;
		}
	}

	&__subtitle {
		@include option(padding, 25px 0 0);

		@include option(font-size, 22px, 16px);
    	@include option(font-weight, 600);
		@include option(line-height, 109%, 150%);
		color: $black;
	}

	&__desc {
		@include option(padding, 24px 55px 0 0, 16px 0 0);

		@include option(font-size, 16px);
    	@include option(font-weight, 400);
		@include option(line-height, 150%);
		color: $grey800;

		&_p {
			@include option(padding, 0 0 12px);
		}
	}

	&__link {
		text-decoration: none;
		color: $blue;
	}

	&__image {
		@include option(display, block, none);
		@include option(max-width, 550px);
		width: 100%;
		@include option(padding, 41px 0 0);

		img {
			object-fit: contain;
		}
	}
}