.resident {
  @include option(margin, 78px 0 0);

  background-color: $grey200;

  &__container {
    @include container($DESKTOP, 58px 85px 50px);
    display: flex;
  }

  &__wrapper {
    @include option(max-width, 620px);
  }

  &__title {
    @include option(padding, 67px 0 0);

    @include option(font-size, 40px);
    @include option(font-weight, 700);
    text-transform: uppercase;
    color: $black;
  }

  &__desc {
    @include option(padding, 17px 100px 0 0);

    @include option(font-size, 16px);
    @include option(font-weight, 400);
    @include option(line-height, 150%);
    color: $black;
  }

  &__inner {
    @include option(margin, auto);
  }

  &__image {
    @include option(max-width, 381px);
    width: 100%;
    @include option(max-height, 356px);
  }
}